$color-primary: #1F2937;
$color-secondary: #5f27cd;
$color-danger: #e74c3c;
$color-success: #2ecc71;
$color-info: #3498db;
$color-gray-1: #cccccc;
$color-gray-2: #e6ebee77;
$color-gray-3: #e6ebee3b;
$border-color-1: #ebebeb;
$text-color-1: #3c3c3f;
$text-color-2: #59595e;

