@mixin min-height-size($parent) {
	#{$parent + '.sm'} {
		min-height: 37px;
	}
	#{$parent + '.md'} {
		min-height: 53px;
	}
	#{$parent + '.lg'} {
		min-height: 69px;
	}
}

@mixin border-y($value) {
	border-top: $value;
	border-bottom: $value;
}

@mixin border-x($value) {
	border-left: $value;
	border-right: $value;
}

@mixin border-radius($side, $value) {
	border-top-#{$side}-radius: $value;
	border-bottom-#{$side}-radius: $value;
}